<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} | {{ siteName }}</title>
    <link rel="stylesheet" href="{{ adminBaseStyles }}">
    <style>
        main.login {
            height: 100dvh;
            display: flex;
            align-items: center;
        }
        main.login > form {
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        main.login button[type=submit] {
            text-align: center;
        }
        label {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    {% block bodyStart %}
{# Länk för tillgänglighet #}
    <a class="skip-link" href="#main-content">Hoppa till huvudinnehållet</a>
    {% endblock %}

    {% block header %}
        {% include "admin/components/header.html.twig" %}
    {% endblock %}

{# Huvudinnehåll #}
    <main id="main-content" {% block mainAttr %}{% endblock %}>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        {% block mainContent %}{% endblock %}

    </main>
</body>
</html>
