<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}API{% endblock %} | {{ siteName }}</title>
    <link rel="stylesheet" href="{{ adminBaseStyles }}">
</head>
<body>
    {% block bodyStart %}
{# Länk för tillgänglighet #}
    <a class="skip-link" href="#main-content">Hoppa till huvudinnehållet</a>
    {% endblock %}

    {% block header %}
        {% include "admin/header.html.twig" %}
    {% endblock %}

{# Huvudinnehåll #}
    <main id="main-content" {% block mainAttr %}{% endblock %}>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        {% block mainContent %}{% endblock %}
        {# <article>
            <h1>{% block articleTitle %}Admin{% endblock %}</h1>
            {% block articleContent %}
                <p>Artikeltext</p>
            {% endblock %}
        </article> #}
    </main>
</body>
</html>
