{% extends "admin/base.html.twig" %}

{% block mainContent %}
    {#<p>Välkommen {{ user.username }} <a href="/admin/logout">Logga ut</a></p>#}

    <article>
        <h1>Sven Admin</h1>

        <details open>
            <summary><h2>Snabbstart</h2></summary>
            <details open>
                <summary><h3>Mata in film</h3></summary>
                <p>Filmer inmatade här är dolda tills du aktivt valt att publicera dem.</p>
                <form method="post" action="">
                    <fieldset>
                        <legend>Ny film</legend>
                        <div class="input-row">
                            <label for="rating">Betyg
                                <input required type="number" min="0" max="100" size="3" name="rating" id="rating">
                                <input title="Denna ska visas med JavaScript och dessa två ska uppdateras tillsammans" type="range" id="rating-slider" list="main-ratings">
                                <datalist id="main-ratings">
                                    <option value="0"></option>
                                    <option value="20"></option>
                                    <option value="40"></option>
                                    <option value="60"></option>
                                    <option value="80"></option>
                                    <option value="100"></option>
                                </datalist>
                            </label>
                            <label for="add-movie-title">Titel
                                <input required name="title" id="add-movie-title" type="text">
                            </label>
                            <label for="add-movie-year">År
                                <input type="number" min="1888" max="2099" size="4" name="year" id="add-movie-year">
                            </label>
                        </div>
                    </fieldset>
                    <button type="submit">Mata in</button>
                </form>
            </details>
            <details open>
                <summary><h3>Dolda filmer (4)</h3></summary>
                <p>Det finns 4 som ännu inte publicerats.</p>
                <ul>
                    <li><a href="/admin/movie/123">Film 1 (2026) +++</a></li>
                    <li><a href="/admin/movie/123">Film 2 (2026) +++</a></li>
                    <li><a href="/admin/movie/123">Film 3 (2026) +++</a></li>
                    <li><a href="/admin/movie/123">Film 4 (2026) +++</a></li>
                </ul>
            </details>
        </details>

        <details open>
            <summary><h2>Databas</h2></summary>
            <ul>
                <li><a href="/admin/genres">Genrer</a></li>
                <li><a href="/admin/films">Filmer</a></li>
                <li><a href="/admin/series">Serier</a></li>
                <li><a href="/admin/persons">VIP-lista</a></li>
            </ul>
        </details>

    </article>
{% endblock %}
