{% extends "admin/base.html.twig" %}

{% set types = {
    'film': 'Film',
    'short': 'Kortfilm',
} %}

{% block mainContent %}
{% if item == null %}
        <pre>ERROR item is null</pre>
{% else %}

    <article>
        <h1>{{ item.title }}</h1>

{% set legend = 'Grundläggande uppgifter' %}
{%include "admin/forms/details-film-core.html.twig" %}
    </article>

{% endif %}
{% endblock %}
