{% extends "admin/base.html.twig" %}

{% set types = constant('OPT').MOVIE_TYPES.FILMS %}
{% set categories = constant('OPT').CREW_CATEGORIES %}

{% block mainContent %}
{% if item == null %}
        <pre>ERROR item is null</pre>
{% else %}

    <article>
        <h1>{{ item.title }}</h1>

{%include "admin/forms/details-film-core.html.twig" %}

{%include "admin/forms/details-film-genres.html.twig" %}

{% for category, legend in categories %}
{%include "admin/forms/details-film-crew.html.twig" %}
{% endfor %}

    </article>

{% endif %}
{% endblock %}
