{% extends "admin/base.html.twig" %}

{% block mainContent %}

    <article>
        <h1>Genrer</h1>

        <div class="button-list">

            {% set pop_id = "add-genre-dlg" %}
            <button class="add" id="add-genre-button" popovertarget="{{ pop_id }}">+</button><label for="add-genre-button">Lägg till ny</label>
            {% include "admin/forms/add-genre.html.twig" %}

            <div class="counter">{{ genres|length }}</div>

            <div class="items">

            {% for item in genres %}
            {% set pop_id = "edit-form-" ~ item.id %}
            <button popovertarget="{{ pop_id }}"
            {% if item.common %}class="common"{% endif %}>{{ item.sv }}</button>
            {% include "admin/forms/edit-genre.html.twig" %}
            {% endfor %}
            </div>
        </div>


    </article>

{% endblock %}
