{% extends "admin/base.html.twig" %}

{% block mainContent %}

    <article>
        <h1>Genrer</h1>

{% set dlg_id = "add-genre-dlg" %}
        <div class="button-list">
            <button class="add" id="add-genre-button" popovertarget="{{ dlg_id }}">+</button><label for="add-genre-button">Lägg till ny</label>
            <div class="counter">{{ genres|length }}</div>

            <div class="items">
            {% for genre in genres %}
            <button popovertarget="edit-form-{{ genre.id }}"
            {% if genre.common %}class="common"{% endif %}>{{ genre.sv }}</button>
            {% endfor %}
            </div>
        </div>

        {# Popover-dialoger #}
{% include "admin/components/add-genre.html.twig" %}
        {% for item in genres %}
{% include "admin/components/edit-genre.html.twig" %}
        {% endfor %}

    </article>

{% endblock %}
