{# Sidhuvud #}
    <header id="header">
        <nav><ul>
            <li><a href="/admin">Administration</a></li>
            <li><a href="{{ constant('API').PUBLIC_SITE_URL }}" target="_blank">Preview</a></li>
        </ul></nav>
    </header>
{# Navigeringsmojäng #}
    <div class="widget left" id="navigation-widget"><button popovertarget="page-nav" class="button" id="navigation-widget-button" title="Navigering"><img class="circle" alt="Navigering" src="https://svenusling.se/assets/logo.jpg"></button></div>
{# Menymojäng #}
    <label for="menu-widget-button" class="widget-label" id="menu-widget-label">Meny</label><div class="widget right" id="menu-widget"><button popovertarget="menu-main" class="button" id="menu-widget-button" title="Meny"><img class="circle" alt="Meny" src="https://svenusling.se/assets/logo.jpg"></button></div>{% include "admin/navigation/menu.html.twig" %}
