{# Sidhuvud #}
    <header id="header">
        <nav><ul>
            <li><a href="/admin">Administration</a></li>
            <li><a href="https://svenusling-preview.wxli.eu" target="_blank">Preview</a></li>
        </ul></nav>
    </header>
{# Navigeringsmojäng #}
    <div class="widget left" id="navigation-widget"></div>
{# Menymojäng #}
    <label for="menu-widget-button" class="widget-label" id="menu-widget-label">Meny</label><div class="widget right" id="menu-widget"><button popovertarget="menu-main" class="button" id="menu-widget-button" title="Meny"><img class="circle" alt="Meny" src="https://svenusling.jlxli.eu/assets/logo.jpg"></button></div><nav popover class="main menu" id="menu-main"><div class="mobile-menu-navigation"><button popovertargetaction="hide" popovertarget="menu-main"></button></div>
    <div class="content">
    <form action="search.php" method="get"><input type="search" size="12" id="menu-search-input" required name="query" value=""><input type="submit" value="Sök"></form>
    <ul>
        <li>Databas<ul>
            <li><a href="/admin/films">Filmer</a></li>
            <li><a href="/admin/series">Serier</a></li>
            <li><a href="/admin/persons">Personer</a></li>
            <li><a href="/admin/genres">Genrer</a></li>
            <li><a href="/admin/media">Media</a></li>
        </ul></li>
        <li>Innehåll<ul>
            <li><a href="/admin/feed">Feed (startsida)</a></li>
            <li><a href="/admin/videos">Videorecensioner</a></li>
            <li><a href="/admin/articles">Artiklar/texter</a></li>
        </ul></li>
        <li>Inställningar<ul>
            <li><a href="/admin/general">Allmänt</a></li>
            <li><a href="/admin/texts">Text i gränssnittet</a></li>
        </ul></li>
        <li><p>Inloggad som {{ user.username }} <a href="/admin/logout">Logga ut</a></p></li>
    </ul>
    </div></nav>
