{% extends "admin/base.html.twig" %}

{% block header %}{% endblock %}

{% block mainAttr %}class="login"{% endblock %}

{% block mainContent %}
    <form method="POST" action="/admin/login">
        <label for="email">E-post</label>
        <input
            type="email"
            id="email"
            name="email"
            required
            autofocus
            value="{{ email|default('') }}"
        >

        <label for="password">Lösen</label>
        <input
            type="password"
            id="password"
            name="password"
            required
        >
        <input type="submit">OK</input>
    </form>
{% endblock %}
