{% extends "admin/base.html.twig" %}

{% block header %}{% endblock %}

{% block mainAttr %}class="login"{% endblock %}

{% block mainContent %}
    <form method="POST" action="/admin/login">
        <fieldset>
            <div class="input-row">
                <label for="email">E-post
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    autofocus
                    value="{{ email|default('') }}"
                >
                </label>
            </div>
            <div class="input-row">
                <label for="password">Lösen
                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                >
                </label>
            </div>
            <div class="input-row">
                <button type="submit">Logga in</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
