{% extends "admin/base.html.twig" %}

{% block pageTitle %}Logga in{% endblock %}

{% block mainAttr %}class="login"{% endblock %}

{% block mainContent %}
    <form method="POST" action="/admin/login">
            <div class="form-group">
                <label for="email">E-post</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    autofocus
                    value="{{ email|default('') }}"
                >
            </div>

            <div class="form-group">
                <label for="password">Lösen</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                >
            </div>

            <button type="submit">OK</button>
        </form>
{% endblock %}


