{% if item == null %}
        <pre>ERROR item is null</pre>
{% elseif pop_id == null %}
        <pre>ERROR pop_id is null</pre>
{% else %}
        <dialog id="{{ pop_id }}" popover class="pseudo-modal">
            <div class="top">
                {% if pop_title != null %}<h2>{{ pop_title }}</h2>{% endif %}
                <button popovertarget="{{ pop_id }}" popovertargetaction="hide">×</button>
            </div>
            <div class="content">
    {% block content %}{% endblock %}
            </div>
        </dialog>
{% endif %}
