<nav popover class="main menu" id="menu-main">
    <header>
        <nav>
            <button popovertarget="menu-main" popovertargetaction="hide"><span aria-hidden="true">×</span></button>
        </nav>
        <h2>Menyrubrik</h2>
    </header>
    <section class="content">
        <form action="search.php" method="get"><input type="search" size="12" id="menu-search-input" required name="query" value=""><input type="submit" value="Sök"></form>
        <ul>
            {% for nav_key, nav_cat in nav_list %}
            <li>{{ nav_key }}<ul>
                {% for nav_item in nav_cat %}
                <li>{% if nav_item.inactive != true %}<a href="{{ nav_item.href }}">{% endif %}{{ nav_item.label }}{% if nav_item.inactive != true %}</a>{% endif %}</li>
                {% endfor %}
            </ul></li>
            {% endfor %}
            <li><p>Inloggad som {{ user.username }} <a href="/admin/logout">Logga ut</a></p></li>
        </ul>
    </section>
</nav>
