<nav popover class="page nav" id="page-nav">
    <header>
        <nav>
            <button popovertarget="page-nav" popovertargetaction="hide"><span aria-hidden="true">×</span></button>
        </nav>
        <h2>Sidnavigering</h2>
    </header>
    <section class="content">
        <ul>
            <li><a href="#snabbinmatning"><button popovertarget="page-nav" popovertargetaction="hide">Snabbinmatning</button></a></li>
            {% if hidden_movies|length > 0 %}<li><a href="#dolda"><button popovertarget="page-nav" popovertargetaction="hide">Dolda filmer</button></a></li>{% endif %}
            <li><a href="#senaste"><button popovertarget="page-nav" popovertargetaction="hide">Senast publicerade</button></a></li>
            <li><a href="#innehall"><button popovertarget="page-nav" popovertargetaction="hide">Innehåll</button></a></li>
            <li><a href="#listor"><button popovertarget="page-nav" popovertargetaction="hide">Listor</button></a></li>
            <li><a href="#kategorier"><button popovertarget="page-nav" popovertargetaction="hide">Kategorier</button></button></a></li>
        </ul>
    </section>
</nav>
