<nav popover class="menu" id="page-nav">
    {# <header>
        <nav>
            <button popovertarget="page-nav" popovertargetaction="hide"><span aria-hidden="true">×</span></button>
        </nav>
    </header> #}
    {% if page_nav is not defined %}{% set page_nav = {} %}{% endif %}
    {% set static_nav = {
        'Generell sidnavigering': { items: [
    { label: 'Upp!', id: 'header' },
        ] }
    } %}
    {% set page_nav = static_nav|merge(page_nav) %}
    {% for section in page_nav %}
    <section class="content">
        <ul>
            {% for item in section.items %}
            {% if item.condition is not defined or item.condition == true %}
            <li><a href="#{{ item.id }}" onclick="document.getElementById('page-nav').hidePopover();"><button popovertarget="page-nav" popovertargetaction="hide">{{ item.label }}</button></a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</nav>
