<nav popover class="page nav" id="page-nav">
    <header>
        <nav>
            <button popovertarget="page-nav" popovertargetaction="hide"><span aria-hidden="true">×</span></button>
        </nav>
        <h2>Sidnavigering</h2>
    </header>
    {% if page_nav is defined %}
    {% for section in page_nav %}
    <section class="content">
        <ul>
            {% for item in section.items %}
            {% if item.hidden != true %}
            <li><a href="#{{ item.id }}"><button popovertarget="page-nav" popovertargetaction="hide">{{ item.label }}</button></a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
    {% endif %}
</nav>
