{% extends "admin/details/base.html.twig" %}

{% set legend = 'Genrer' %}

{% block content %}

<div class="compact button-list">
    {% for genre in item.genres %}
    {% include "admin/forms/remove-genre.html.twig" %}
    {% endfor %}
    {% set pop_id = "add-genres-dlg" %}
    <button id="add-genres-button" popovertarget="{{ pop_id }}">+</button>
</div>

{% endblock %}
