@use "sass:map";
@use 'vars' as var;

$BM: map.get(var.$margin, 'base'); // Base Margin
$BP: map.get(var.$padding, 'base'); // Base Padding
$block-relative-box-padding: map.get(var.$padding, 'block-relative-box');
$border-width: map.get(var.$border, 'width');
$link-decoration: map.get(var.$text-decoration, 'links');

*
{
    border-color: var(--color-outline-default);
    border-width: 0;
}

html
{
    border-inline: 10px dashed black;

    @media (width <= map.get(var.$breakpoints, 'mobile')) {
        border: none;
    }
}

a
{
    text-decoration: $link-decoration;
}

nav ul
{
    list-style-type: none;
}

li
{
    padding-block: $block-relative-box-padding;
}

img.circle
{
    border-radius: 50%;
    object-fit: cover;
}

dt
{
    float: left;
    margin-right: 0.3em;
}

dd:before
{
    content: "—";
    margin-right: 0.3em;
}

.list
{
    &.long
    {
        a
        {
            text-decoration: none;
        }

        li:hover a, li:active a
        {
            text-decoration: $link-decoration;
        }

        li:hover a:hover
        {
            text-decoration: $link-decoration;
        }
    }
}
