@use 'sass:map';
@use 'sass:list';
@use 'sass:string';
@use 'sass:math';
@use 'sass:color';

// Definiera namn och värden för grundfärger att generera palett från
// (detta blir ton 50 i paletten, men behöver inte nödvändigtvis ha ljushet 50)
$base-colors: (
    "red": hsl(0 100% 50%),
    "neutralgray": hsl(0 0% 50%),
    "slategray": hsl(210 13% 50%),
    "lightslategray": hsl(210 14% 53%),
    "darkslategray": hsl(180 25% 25%),
    "pink": hsl(350 100% 88%),
    "orange": hsl(39 100% 50%),
    "green": hsl(120 100% 25%)
);

// Definiera vilka toner som ska genereras utifrån grundfärgen
// Detta motsvarar ljushet i procent
$palette-tones: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98, 99, 100;
$base-tone: 50;

// Ett standardtema med endast gråtoner som grund (förutom rött vid fel)
$base-theme: (
    primary: "neutralgray",
    secondary: "neutralgray",
    tertiary: "neutralgray",
    neutral: "neutralgray",
    error: "red"
);

// Vilka grundfärger som ska användas i olika teman
// Ange två värden om det ska vara olika färger för ljust/mörkt tema
$themes: (
    "blank-slate": (
        primary: ("darkslategray", "lightslategray"),
        secondary: "slategray",
        tertiary: ("lightslategray", "darkslategray"),
        neutral: "slategray",
        error: "red"
    ),
    "test-theme": (
        primary: "pink",
        secondary: ("orange", "green"),
        tertiary: ("green", "orange"),
        neutral: "slategray",
        error: "red"
    )
);

// Standardvärden för vilka färgtoner som ska användas i olika roller (detta blir CSS-klasser med namngivna vikter att använda)
// När man gör ett tema kan man antingen använda de här standardtonerna eller skriva över utvalda variabler med temats egna värden
// Man behöver inte definiera onödigt många såna här standardnamn, eftersom det är fritt fram att ange toner direkt från paletten
// Se till att bakgrundsfärg och textfärg (on-) har tillräckligt bra kontrast
// Ange två värden om det ska vara olika toner för ljust/mörkt tema
$role-colors: (
    "primary": (
        "default": (
            "primary": 50,
            "on-primary": (0, 100),
            "primary-container": 70,
            "on-primary-container": (30, 70)
        ),
        "feather": (
            "primary": 70,
            "on-primary": (0, 100),
            "primary-container": 95,
            "on-primary-container": (30, 70)
        )
    ),
    "secondary": (
        "default": (
            "secondary": 50,
            "on-secondary": (0, 100),
            "secondary-container": 70,
            "on-secondary-container": (30, 70)
        ),
        "feather": (
            "secondary": 70,
            "on-secondary": (0, 100),
            "secondary-container": 95,
            "on-secondary-container": (30, 70)
        )
    ),
    "tertiary": (
        "default": (
            "tertiary": 50,
            "on-tertiary": (0, 100),
            "tertiary-container": 70,
            "on-tertiary-container": (30, 70)
        ),
        "feather": (
            "secondary": 70,
            "on-secondary": (0, 100),
            "secondary-container": 95,
            "on-secondary-container": (30, 70)
        )
    ),
    "neutral": (
        "default": (
            "neutral": 50,
            "on-neutral": (0, 100),
            "neutral-container": 70,
            "on-neutral-container": (30, 70)
        ),
        "feather": (
            "neutral": 70,
            "on-neutral": (0, 100),
            "neutral-container": 95,
            "on-neutral-container": (30, 70)
        )
    ),
    "error": (
        "default": (
            "error": 50,
            "on-error": (0, 100),
            "error-container": 70,
            "on-error-container": (30, 70)
        ),
        "feather": (
            "error": 70,
            "on-error": (0, 100),
            "error-container": 95,
            "on-error-container": (30, 70)
        )
    )
);

// Generera färgvarianter från grundfärger (CSS-variabler)
:root {
    @each $color-name, $color-value in $base-colors {
        @each $tone in $palette-tones {
            $percent: 100%;
            @if $tone < $base-tone {
                $percent: 0% - (100 - (math.div($tone, $base-tone) * 100));
            }
            @else {
                $percent: 0% + (math.div(($tone - $base-tone), $base-tone) * 100);
            }
            $scaled: color.scale($color-value, $lightness: $percent);
            --color-#{$color-name}-#{$tone}: #{$scaled};
        }
    }

    // Generera färgmappningar för grundtemat (CSS-variabler)
    @each $hierarchy, $values in $base-theme {
        @if list.length($values) == 1 {
            $hue: list.nth($values, 1);
            @each $tone in $palette-tones {
                --color-#{$hierarchy}-#{$tone}: var(--color-#{$hue}-#{$tone});
            }
        } @else if list.length($values) > 1 {
            $light-hue: list.nth($values, 1);
            $dark-hue: list.nth($values, 2);
            @each $tone in $palette-tones {
                --color-#{$hierarchy}-#{$tone}: light-dark(var(--color-#{$light-hue}-#{$tone}), var(--color-#{$dark-hue}-#{$tone}));
            }
        }
    }

    // Generera olika styrkor för respektive roll (CSS-variabler)
    @each $hierarchy, $weights in $role-colors {
        @each $weight, $values in $weights {
            // @each $role, $tone in $values {
            //     --color-#{$role}-#{$weight}: var(--color-#{$hierarchy}-#{$tone});
            // }
            @each $role, $tones in $values {
                @if list.length($tones) == 1 {
                    $tone: list.nth($tones, 1);
                    --color-#{$role}-#{$weight}: var(--color-#{$hierarchy}-#{$tone});
                } @else if list.length($tones) > 1 {
                    $light-tone: list.nth($tones, 1);
                    $dark-tone: list.nth($tones, 2);
                    --color-#{$role}-#{$weight}: light-dark(var(--color-#{$hierarchy}-#{$light-tone}), var(--color-#{$hierarchy}-#{$dark-tone}));
                }
            }
        }
    }
}

// Generera färgmappningar för teman (CSS-klasser)
@each $theme-name, $theme-colors in $themes {
    .#{$theme-name} {
        @each $hierarchy, $values in $theme-colors {
            @if list.length($values) == 1 {
                $hue: list.nth($values, 1);
                @each $tone in $palette-tones {
                    --color-#{$hierarchy}-#{$tone}: var(--color-#{$hue}-#{$tone});
                }
            } @else if list.length($values) > 1 {
                $light-hue: list.nth($values, 1);
                $dark-hue: list.nth($values, 2);
                @each $tone in $palette-tones {
                    --color-#{$hierarchy}-#{$tone}: light-dark(var(--color-#{$light-hue}-#{$tone}), var(--color-#{$dark-hue}-#{$tone}));
                }
            }
        }
    }
}

// Generera roller (CSS-klasser)
@each $hierarchy, $weights in $role-colors {
    $values: map.get($weights, 'default');
    @each $role, $tone in $values {
        .#{$role} {
            $property: "background-color";
            @if string.index($role, "on-") == 1 {
                $property: "color";
            }
            #{$property}: var(--color-#{$role}-default);
        }
    }
}

// Definiera standardfärger/-roller för element (så det finns en grund att bygga på när man skapar ett temas utseende)
// Försöker hålla låg specificity genom att använda :where(), så det är enkelt att skriva över med temafärger
// Målet är att grunden ska se okej ut "out of the box", utan att man måste sätta en massa klassnamn överallt
// Men vid behov, när man behöver frångå standarden, så är det bara att sätta ett klassnamn för att styra färgen
html
{
    accent-color: var(--color-secondary-default);
    background-color: var(--color-primary-container-default);
    border-color: var(--color-on-neutral-default);
    caret-color: var(--color-on-neutral-default);
}

body
{
    background-color: var(--color-neutral-default);
    color: var(--color-on-neutral-default);

    > .message
    {
        background-color: var(--color-primary-container-default);
        color: var(--color-on-primary-container-default);
    }
}

// Hör inte hemma här, snarare ibland temafärger och effekter, men jag bara testar nu
button:active
{
    filter: hue-rotate(180deg);
}

a
{
    color: var(--color-on-neutral-default);
    text-decoration-color: var(--color-on-neutral-default);
}

header
{
    background: var(--color-primary-container-default);
}

fieldset
{
    background-color: var(--color-neutral-container-default);
    color: var(--color-on-neutral-container-default);

    > legend
    {
        background-color: inherit;
    }
}

input:where(
    [type=date],
    [type=datetime-local],
    [type=email],
    [type=number],
    [type=password],
    [type=search],
    [type=text],
    [type=url]
)
{
    background-color: var(--color-neutral-feather);
    color: var(--color-on-neutral-feather);
}

.skip-link
{
    background-color: var(--color-tertiary-container-default);
    color: var(--color-on-tertiary-container-default);
}

