@use 'sass:map';
@use 'sass:list';
@use 'sass:string';
@use 'sass:math';
@use 'sass:color';

// Definiera namn och värden för grundfärger att generera palett från
// (detta blir ton 50 i paletten, men behöver inte nödvändigtvis ha ljushet 50)
$base-colors: (
    "red": hsl(0 100% 50%),
    "silver": hsl(0 0% 75%),
    "neutralgray": hsl(0 0% 50%),
    "slategray": hsl(210 13% 50%),
    "lightslategray": hsl(210 14% 53%),
    "darkslategray": hsl(180 25% 25%),
    "pink": hsl(350 100% 88%),
    "orange": hsl(39 100% 50%),
    "green": hsl(120 100% 25%)
);

// Tror att vi skippar den här delen som genererar en palett och jobbar med fria ljushetsvärden istället
// samt att man då som grundfärger endast definierar Hue och Saturation
// Så det blir i princip att göra om hela färgsystemet från början, men jag tar det när jag har tid och ork
// Nuvarande system känns för stelbent att jobba med. Man behöver kunna ange ett ljushetsvärde och veta vilken färg det blir i slutänden.

// Definiera vilka toner som ska genereras utifrån grundfärgen
// Detta motsvarar ljushet i procent
$palette-tones: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 95, 98, 99, 100;
$base-tone: 50;

// Ett standardtema med endast gråtoner som grund (förutom rött vid fel)
$base-theme: (
    primary: "neutralgray",
    secondary: "neutralgray",
    tertiary: "neutralgray",
    surface: "neutralgray",
    input: "neutralgray",
    outline: "silver",
    error: "red"
);

// Vilka grundfärger som ska användas i olika teman
// Ange två värden om det ska vara olika färger för ljust/mörkt tema
$themes: (
    "blank-slate": (
        primary: ("darkslategray", "lightslategray"),
        secondary: "slategray",
        tertiary: ("lightslategray", "darkslategray"),
        surface: "slategray",
        error: "red"
    ),
    "test-theme": (
        primary: "pink",
        secondary: ("orange", "green"),
        tertiary: ("green", "orange"),
        surface: "slategray",
        error: "red"
    )
);

// Jag vill göra om det mesta av systemet för role-colors. Istället för att endast definiera färgtoner med olika ljushet så vill jag kunna definiera funktioner som kan manipulera alla tre delar (Hue/Saturation/Lightness). Till exempel skulle man kunna ha en variant "dim" som drar ner mättnaden och kanske ljusar upp en aning. Varianten "default" kan väl som standard ha en funktion där grundfärgen bara går rakt igenom.
// Också fundera på hur man gör detta så enkelt som möjligt att administrera, men samtidigt flexibelt så att man kan ändra funktionerna för olika teman. En idé är att skapa mixins med funktioner namngivna efter vad de gör (default, dim etc). För ett tema där man behöver något eget kan man då skapa en extra mixin just för det ändamålet.
// Kanske skippar vi listorna i role-colors och utökar base-theme och themes. Om man kan ha ett system som tar värdet från base-theme ifall det inte finns angivet i temat (så man slipper underhålla en massa duplicerade siffror när det inte ska göras någon förändring). Eller kan det möjligtvis funka att ha bastemats CSS som grund och sedan bara generera en CSS för det som är ändrat i temat som läggs uppå grunden.
// Nedanstående är gamla anteckningar innan jag hade ovanstående idéer.

// Standardvärden för vilka färgtoner som ska användas i olika roller (detta blir CSS-klasser med namngivna vikter att använda)
// När man gör ett tema kan man antingen använda de här standardtonerna eller skriva över utvalda variabler med temats egna värden
// Man behöver inte definiera onödigt många såna här standardnamn, eftersom det är fritt fram att ange toner direkt från paletten
// Se till att bakgrundsfärg och textfärg (on-) har tillräckligt bra kontrast
// Ange två värden om det ska vara olika toner för ljust/mörkt tema

// Här skulle jag vilja göra lite justeringar så småningom, så att man inte måste fylla i så mycket. Ha en tabell med standardinställningar liknande $base-theme och $themes
$role-colors: (
    "primary": (
        "default": (
            "primary": 50,
            "on-primary": (0, 100),
            "primary-container": (70, 30),
            "on-primary-container": (0, 90)
        ),
        "feather": (
            "primary": 70,
            "on-primary": (0, 100),
            "primary-container": 95,
            "on-primary-container": (30, 70)
        )
    ),
    "secondary": (
        "default": (
            "secondary": 50,
            "on-secondary": (0, 100),
            "secondary-container": (60, 20),
            "on-secondary-container": (20, 60)
        ),
        "feather": (
            "secondary": 70,
            "on-secondary": (0, 100),
            "secondary-container": 95,
            "on-secondary-container": (30, 70)
        )
    ),
    "tertiary": (
        "default": (
            "tertiary": 50,
            "on-tertiary": (0, 100),
            "tertiary-container": 70,
            "on-tertiary-container": (30, 70)
        ),
        "feather": (
            "secondary": 70,
            "on-secondary": (0, 100),
            "secondary-container": 95,
            "on-secondary-container": (30, 70)
        )
    ),
    "surface": (
        "default": (
            "surface": (90, 20),
            "on-surface": (0, 100),
            "surface-container": (70, 40),
            "on-surface-container": (0, 90)
        ),
        "feather": (
            "surface": (95, 2),
            "on-surface": (0, 100),
            "surface-container": (98, 30),
            "on-surface-container": (0, 90)
        )
    ),
    "input": (
        "default": (
            "input-text": (95, 20),
            "on-input-text": (0, 90),
            "input-button": (70, 30),
            "on-input-button": (0, 90)
        ),
    ),
    "outline": (
        "default": (
            "outline": (50, 98),
        ),
    ),
    "error": (
        "default": (
            "error": 50,
            "on-error": (0, 100),
            "error-container": 70,
            "on-error-container": (30, 70)
        ),
        "feather": (
            "error": 70,
            "on-error": (0, 100),
            "error-container": 95,
            "on-error-container": (30, 70)
        )
    )
);

// Generera färgvarianter från grundfärger (CSS-variabler)
// Jag tänker att detta nog bara är tillfälligt under utvecklingen
// Sedan kan jag ändra så det inte genereras lika många CSS-variabler, för jag har inte behov av att kunna ändra enskilda färgtoner on the fly
:root {
    @each $color-name, $color-value in $base-colors {
        @each $tone in $palette-tones {
            $percent: 100%;
            @if $tone < $base-tone {
                $percent: 0% - (100 - (math.div($tone, $base-tone) * 100));
            }
            @else {
                $percent: 0% + (math.div(($tone - $base-tone), $base-tone) * 100);
            }
            $scaled: color.scale($color-value, $lightness: $percent);
            --color-#{$color-name}-#{$tone}: #{$scaled};
        }
    }

    // Generera färgmappningar för grundtemat (CSS-variabler)
    @each $hierarchy, $values in $base-theme {
        @if list.length($values) == 1 {
            $hue: list.nth($values, 1);
            @each $tone in $palette-tones {
                --color-#{$hierarchy}-#{$tone}: var(--color-#{$hue}-#{$tone});
            }
        } @else if list.length($values) > 1 {
            $light-hue: list.nth($values, 1);
            $dark-hue: list.nth($values, 2);
            @each $tone in $palette-tones {
                --color-#{$hierarchy}-#{$tone}: light-dark(var(--color-#{$light-hue}-#{$tone}), var(--color-#{$dark-hue}-#{$tone}));
            }
        }
    }

    // Generera olika styrkor för respektive roll (CSS-variabler)
    @each $hierarchy, $weights in $role-colors {
        @each $weight, $values in $weights {
            // @each $role, $tone in $values {
            //     --color-#{$role}-#{$weight}: var(--color-#{$hierarchy}-#{$tone});
            // }
            @each $role, $tones in $values {
                @if list.length($tones) == 1 {
                    $tone: list.nth($tones, 1);
                    --color-#{$role}-#{$weight}: var(--color-#{$hierarchy}-#{$tone});
                } @else if list.length($tones) > 1 {
                    $light-tone: list.nth($tones, 1);
                    $dark-tone: list.nth($tones, 2);
                    --color-#{$role}-#{$weight}: light-dark(var(--color-#{$hierarchy}-#{$light-tone}), var(--color-#{$hierarchy}-#{$dark-tone}));
                }
            }
        }
    }
}

// Generera färgmappningar för teman (CSS-klasser)
@each $theme-name, $theme-colors in $themes {
    .#{$theme-name} {
        @each $hierarchy, $values in $theme-colors {
            @if list.length($values) == 1 {
                $hue: list.nth($values, 1);
                @each $tone in $palette-tones {
                    --color-#{$hierarchy}-#{$tone}: var(--color-#{$hue}-#{$tone});
                }
            } @else if list.length($values) > 1 {
                $light-hue: list.nth($values, 1);
                $dark-hue: list.nth($values, 2);
                @each $tone in $palette-tones {
                    --color-#{$hierarchy}-#{$tone}: light-dark(var(--color-#{$light-hue}-#{$tone}), var(--color-#{$dark-hue}-#{$tone}));
                }
            }
        }
    }
}

// Generera roller (CSS-klasser)
@each $hierarchy, $weights in $role-colors {
    $values: map.get($weights, 'default');
    @each $role, $tone in $values {
        .#{$role} {
            $property: "background-color";
            @if string.index($role, "on-") == 1 {
                $property: "color";
            }
            #{$property}: var(--color-#{$role}-default);
        }
    }
}

// Definiera standardfärger/-roller för element (så det finns en grund att bygga på när man skapar ett temas utseende)
// Försöker hålla låg specificity genom att använda :where(), så det är enkelt att skriva över med temafärger
// Målet är att grunden ska se okej ut "out of the box", utan att man måste sätta en massa klassnamn överallt
// Men vid behov, när man behöver frångå standarden, så är det bara att sätta ett klassnamn för att styra färgen
html
{
    color-scheme: light dark;
    accent-color: var(--color-secondary-default);
    background-color: var(--color-primary-container-default);
    caret-color: var(--color-primary-default);
}

body
{
    border-color: var(--color-outline-default);
    background-color: var(--color-surface-default);
    color: var(--color-on-surface-default);

    &.light
    {
        color-scheme: light;
    }

    &.dark
    {
        color-scheme: dark;
    }

    > .message
    {
        background-color: var(--color-primary-container-default);
        color: var(--color-on-primary-container-default);
    }
}

button
{
    background-color: var(--color-secondary-container-default);
    color: var(--color-on-secondary-container-default);

    &.primary
    {
        background-color: var(--color-primary-default);
        color: var(--color-on-primary-container-default);
    }

    &:hover
    {
        filter: brightness(1.8);
    }

    &:active
    {
        filter: hue-rotate(180deg);
    }
}

a
{
    color: var(--color-on-surface-default);
    text-decoration-color: var(--color-on-surface-default);
}

header
{
    background: var(--color-primary-container-default);
    color: var(--color-on-primary-container-default)
}

footer
{
    background: var(--color-surface-0);
    color: var(--color-surface-95);
}

fieldset
{
    background-color: var(--color-surface-container-default);
    color: var(--color-on-surface-container-default);

    > legend
    {
        background-color: inherit;
    }
}

input:where(
    [type=date],
    [type=datetime-local],
    [type=email],
    [type=number],
    [type=password],
    [type=search],
    [type=text],
    [type=url]
),
textarea
{
    background-color: var(--color-input-text-default);
    color: var(--color-on-input-text-default);
}

input:focus,
select:focus,
textarea:focus
{
    outline-color: var(--color-primary-default);
}

main
{
    > h1,
    article > h1,
    article > hgroup:first-of-type
    {
        background-color: var(--color-surface-default);
    }
}

.skip-link
{
    background-color: var(--color-tertiary-container-default);
    color: var(--color-on-tertiary-container-default);
}

*[popover]
{
    background-color: var(--color-surface-default);
    border-color: var(--color-outline-default);
}

.pseudo-modal[popover],
.menu[popover]
{
    > .top
    {
        button
        {
            color: inherit;
            border-color: transparent;

            &:hover
            {
                background-color: var(--color-primary-default);
                border-color: var(--color-outline-default);
            }
        }
    }
}
