@use 'sass:map';
@use 'sass:list';
@use 'sass:math';
@use 'vars' as var;

$mobile: map.get(var.$breakpoints, 'mobile');

$BP: map.get(var.$padding, 'base'); // Base Padding
$BM: map.get(var.$margin, 'base'); // Base Margin
$BPr: map.get(var.$padding, 'relative'); // Relative Base Padding
$BMr: map.get(var.$margin, 'relative'); // Relative Base Margin
$BMn: map.get(var.$negative-margin, 'base'); // Negative Base Margin
$block-padding: map.get(var.$padding, 'block-default');
$block-margin: map.get(var.$margin, 'block-default');
$inline-padding: map.get(var.$padding, 'inline-default');
$inline-margin: map.get(var.$margin, 'inline-default');

// Widget variables
$WPT: map.get(var.$widget, 'padding-top');
$WPB: map.get(var.$widget, 'padding-bottom');
$WPO: map.get(var.$widget, 'padding-outer');
$WPI: map.get(var.$widget, 'padding-inner');
$WBRTI: map.get(var.$widget, 'border-radius-top-inner');
$WBRTO: map.get(var.$widget, 'border-radius-top-outer');
$WBRBI: map.get(var.$widget, 'border-radius-bottom-inner');
$WBRBO: map.get(var.$widget, 'border-radius-bottom-outer');
$WIZ: map.get(var.$widget, 'img-size');

// $widget-calc: (
//     total-width: $WIZ + $WPO + $WPI,
// );

// Popover variables
$PopMobMargin: map.get(var.$popover, 'mobile-margin');
$PopBorderRadius: map.get(var.$popover, 'border-radius');
$PopBorderWidth: map.get(var.$popover, 'border-width');
$PopBorderStyle: map.get(var.$popover, 'border-style');
$PopColW: map.get(var.$popover, 'column-width');
$PopBlMarg: map.get(var.$popover, 'content-block-margin');
$PopBlPad: map.get(var.$popover, 'content-block-padding');

// Detta är en salig blandning av variabler som gäller endast menyn samt både meny och popover
// Behöver reda ut det så småningom, men just nu vill jag bara få rätt på utseendet för tillfället
$popoverOLD: (
    border-radius-relative-padding-inline: 0.75,
    border-radius-relative-padding-block: 0.6,
    padding-inline-relative-box-list-padding: 0.3,
    list-padding-relative-sub-list-padding: 4,
    sub-offset: 0.5rem,
    // items
    padding-inline-relative-box-item-padding: 0.7,
);

/* $mbr: map.get($popover, 'border-radius');
$mbw: map.get($popover, 'border-width');
$mbs: map.get($popover, 'border-style');
$mbrrpi: map.get($popover, 'border-radius-relative-padding-inline');
$mbrrpb: map.get($popover, 'border-radius-relative-padding-block');
$mpirlp: map.get($popover, 'padding-inline-relative-box-list-padding');
$mlprslp: map.get($popover, 'list-padding-relative-sub-list-padding');
$mso: map.get($popover, 'sub-offset');
$mpirip: map.get($popover, 'padding-inline-relative-box-item-padding');
$mih: map.get($popover, 'item-height');
$mig: map.get($popover, 'item-gap');
$mibw: map.get($popover, 'item-border-width');
$mcw: map.get($popover, 'column-width');
$mcg: map.get($popover, 'column-gap');
$cbw: map.get($popover, 'close-button-width');

$popover-padding-inline: $mbr * $mbrrpi;
$popover-padding-block: $mbr * $mbrrpb;
$popover-list-padding: $popover-padding-inline * $mpirlp;
$popover-sub-list-padding: $popover-list-padding * $mlprslp;
$popover-item-padding: $popover-padding-inline * $mpirip;
 */
/* $popover-calc: (
    block-total: calc($popover-padding-block + var(--menu-item-gap) + var(--menu-border-width) + var(--menu-item-border-width)),
    max-width: calc(100vw - (var(--widget-total-width) * 2) - (var(--menu-padding-inline) * 2)),
    min-width: calc($column-width + (var(--menu-padding-inline) * 2)),
    padding-inline: $popover-padding-inline,
    list-padding: $popover-list-padding,
    item-padding: $popover-item-padding,
    //max-width: 100vw - ($widget-total-width * 2) - $popover-padding-inline * 2;
); */

// CSS-variabler att exportera
// $export-to-css: (
//     (
//         "map": $widget-calc,
//         "prefix": "widget-"
//     ),
//     (
//         "map": $popover,
//         "prefix": "menu-"
//     ),
//     (
//         "map": $popover-calc,
//         "prefix": "menu-"
//     )
// );

@position-try --left-down {
    inset: unset;
    top: anchor(top);
    right: anchor(left);
}
@position-try --right-down {
    inset: unset;
    top: anchor(top);
    left: anchor(right);
}
@position-try --left-up {
    inset: unset;
    bottom: anchor(top);
    right: anchor(left);
}
@position-try --right-up {
    inset: unset;
    bottom: anchor(top);
    left: anchor(right);
}
@position-try --bottom-down {
    inset: unset;
    position-area: bottom center;
}
@position-try --bottom-up {
    inset: unset;
    position-area: top center;
}

@supports (animation-timeline: scroll()) {
    body > .message
    {
        animation: page-message linear;
        animation-timeline: scroll();
        /*opacity: 0;*/
        transform: translateY(100%)
    }
}

@keyframes page-message {
    0% {
        transform: translateY(0%);
    }
    1% {
        transform: translateY(100%);
    }
}

main.login
{
    height: 100dvh;
    display: flex;
    align-items: center;
}

main.login > form
{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main.login button[type=submit]
{
    text-align: center;
}

.widget
{
    position: sticky;
    z-index: 999;
    top: 0;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    img {
        width: $WIZ;
        height: $WIZ;
    }

    .button
    {
        background: none;
        border: none;
        display: inline-block;
        box-sizing: content-box;
        height: $WIZ;
        width: $WIZ;
    }

    &.left
    {
        float: left;

        .button
        {
            padding: $WPT $WPI $WPB $WPO;
        }
    }

    &.right
    {

        .button
        {
            padding: $WPT $WPO $WPB $WPI;
        }
    }

    &:has(:popover-open)
    {
        border-top-left-radius: $WBRTI;
        border-top-right-radius: $WBRTO;
        border-bottom-left-radius: $WBRBI;
        border-bottom-right-radius: $WBRBO;
    }
}

.widget-label
{
    background: none;
    display: inline-block;
    transform: translateY(-.7rem);

    &:has(+.widget.right)
    {
        padding: .82rem 0 1.25rem 0;
    }
}

// Gemensam grund för dialoger och menyer
// Börjar med att definiera mobilutseendet, som ska vara identiskt mellan de två
dialog[popover],
nav[popover]
{
    margin: auto;
    position: fixed;
    max-width: unset;
    min-width: unset;
    width: auto;
    height: auto;
    inset: $PopMobMargin;
    padding: 0;

    box-shadow: 2px 2px 4px #101010;
    border-width: $PopBorderWidth;
    border-style: $PopBorderStyle;
    border-radius: $PopBorderRadius;

    &::backdrop
    {
        backdrop-filter: brightness(0.88) contrast(0.88) grayscale(1);
        background-color: transparent;
    }

    > header
    {
        min-height: $PopBorderRadius;
    }

    > footer
    {
        min-height: $PopBorderRadius;
    }

    > .content
    {
        margin-block: $PopBlMarg;
        padding-block: $PopBlPad;
    }
}

/* .pseudo-modalOLD[popover],
.menuOLD[popover]
{
    max-width: calc(100vw - (var(--widget-total-width) * 2) - ($popover-padding-inline * 2));
    min-width: calc(var(--menu-column-width) + ($popover-padding-inline * 2));
    max-height: 100%;

    .actions button:only-child
    {
        width: 100%;
    }

    > .content
    {
        max-height: calc(100% - 4rem);
        overflow: auto;

        margin: 0 $mbr;
        flex: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > * + *
        {
            margin-top: (1 * $BMr);
        }
    }

    > .top
    {
        margin-bottom: calc($mbr * 0.6);
        display: flex;
        justify-content: flex-end;

        button
        {
            text-align: center;
            padding: 0;
            min-height: 2rem;

            font-family: inherit;
            font-size: inherit;
            appearance: none;
            cursor: pointer;
            text-decoration: none;
            border: none;
            padding: 0 var(--menu-item-padding);

            display: block;
            align-content: center;

            border-bottom-width: $mbw;

            &:hover
            {
                border-bottom-width: $mbw;
                border-bottom-style: $mbs;
            }

            &[popovertarget]
            {
                width: $cbw;
                border-radius: 0 0 0 $mbr;
                border-bottom-width: $mbw;
                border-left-width: $mbw;
                border-right: none;
            }
        }
    }
} */

/* @media (width <= $mobile) {
    :root
    {
        --mobile-modal-margin-top: 10rem;
        --mobile-modal-margin-inline: 1rem;
    }

    .pseudo-modal[popover],
    .menu[popover]
    {
        position: fixed;
        max-width: unset;
        min-width: unset;
        width: auto;
        height: auto;
        top: var(--mobile-modal-margin-top);
        bottom: 0rem;
        left: var(--mobile-modal-margin-inline);
        right: var(--mobile-modal-margin-inline);

        &:popover-open
        {
            height: calc(100% - var(--mobile-modal-margin-top));
            display: flex;
            flex-direction: column;
        }
    }
} */

// Menyn behöver göras om så att den använder sig av samma grund som .pseudo-modal för mobilutseendet

// .menu
// {
//     margin: 0;
//     padding: 0 0 $mbr 0;
//
//     max-width: var(--menu-max-width);
//     min-width: var(--menu-min-width);
//
//     box-shadow: 2px 2px 4px #101010;
//
//     .content
//     {
//         max-width: calc(var(--menu-column-width) * 3 + var(--menu-list-padding) * 2 + var(--menu-column-gap) * 2);
//         //max-width: $mcw * 3 + $popover-list-padding * 2 + $mcg * 2;
//     }
//
//     *[data-moreinfo]:hover::after
//     {
//         content: " (" attr(data-moreinfo) ")";
//     }
//
//     ul
//     {
//         list-style-type: none;
//         margin: 0;
//         padding: 0 $popover-list-padding;
//         display: flex;
//         flex-wrap: wrap;
//
//         > li
//         {
//             flex: $mcw 1 0;
//             min-width: 0;
//
//             > ul
//             {
//                 padding: 0 $popover-sub-list-padding;
//
//                 > li
//                 {
//                     flex: calc(var(--menu-column-width) - var(--menu-sub-list-padding)) 1 0;
//                     min-width: 0;
//                 }
//             }
//         }
//     }
//
//     li
//     {
//         padding: $mig 0;
//         display: flex;
//         flex-direction: column;
//
//         //border-bottom: var(--item-border-thickness) solid var(--border-color-splash);
//
//         &:first-child
//         {
//             //border-top: var(--item-border-thickness) solid var(--border-color-splash);
//         }
//     }
//
//     button, a
//     {
//         font-family: inherit;
//         font-size: inherit;
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         cursor: pointer;
//         text-decoration: none;
//         border: none;
//         padding: 0 $popover-item-padding;
//
//         display: block;
//         min-height: $mih;
//
//         align-content: center;
//
//         color: inherit;
//         background-color: inherit;
//
//         border-bottom: 1px solid transparent;
//
//         &:hover
//         {
//             text-decoration: none;
//             border-radius: $mbr * 0.5;
//
//             border-bottom: 1px solid var(--color-primary-default);
//         }
//     }
//
//     button[popovertarget]::after
//     {
//         content: " >";
//     }
//
//     label
//     {
//         align-content: center;
//     }
//
//     form
//     {
//         padding: $popover-padding-inline;
//         display: flex;
//         gap: .5em;
//     }
// }
//
// .main.menu .content
// {
//     > ul
//     {
//         gap: var(--menu-column-gap);
//
//         > li
//         {
//
//             > button, a
//             {
//                 border-top: 1px solid var(--color-primary-80);
//
//                 &:hover
//                 {
//                     border-bottom-color: var(--color-primary-default);
//                 }
//             }
//         }
//     }
// }
//
// .sub.menu
// {
//     padding: $popover-padding-block 0;
//     inset: unset;
//     top: calc(anchor(top) - var(--menu-block-total) + var(--menu-sub-offset));
//     right: anchor(left);
//     position-try-fallbacks: --right-down, --left-up, --right-up, --bottom-down, --bottom-up;
//
//     &:popover-open > ul
//     {
//         display: block;
//
//         > *
//         {
//             flex: unset;
//         }
//     }
// }
//
// .mobile-menu-navigation
// {
//     display: none;
//     margin-bottom: var(--margin-default);
//
//     button
//     {
//         text-align: center;
//         padding: 0;
//         min-height: 2rem;
//         background: var(--background-color-default);
//
//         &:hover
//         {
//             background: var(--background-color-splash);
//         }
//
//         &[popovertarget]
//         {
//             width: var(--close-button-width);
//             border-radius: 0 0 var(--border-radius) 0;
//             border-bottom: 1px solid var(--border-color-default);
//             border-right: 1px solid var(--border-color-default);
//
//             &::after
//             {
//                 content: "<";
//             }
//         }
//
//         &[popovertarget=menu-main]
//         {
//             width: var(--close-button-width);
//             border-radius: 0 0 0 var(--border-radius);
//             border-bottom: 1px solid var(--border-color-default);
//             border-left: 1px solid var(--border-color-default);
//             border-right: none;
//
//             &::after
//             {
//                 content: "×";
//             }
//         }
//     }
// }
//
/* @media (width <= 44rem) {
    .menu{
        &:popover-open > ul
        {
            display: block;
        }

        > ul > *
        {
            flex: unset;
        }
    }
} */
//
// @media (width <= 32rem) {
//     #menu-movies,
//     #menu-persons,
//     #menu-main
//     {
//         position-anchor: unset;
//     }
//
//     #menu-main,
//     .sub.menu
//     {
//         position: fixed;
//         max-width: unset;
//         min-width: unset;
//         width: auto;
//         height: auto;
//         top: var(--mobile-menu-margin);
//         left: var(--mobile-menu-margin);
//         right: var(--mobile-menu-margin);
//         bottom: var(--mobile-menu-margin);
//     }
//
//     .sub.menu
//     {
//         padding: 0 0 var(--padding-block) 0;
//         box-shadow: none;
//
//         .content
//         {
//             max-height: caLc(100% - 4rem);
//             overflow: auto;
//         }
//     }
//
//     .main.menu .content
//     {
//         margin-top: calc(0px - (var(--padding-inline) * 1.8));
//         max-height: caLc(100% - 4rem + (var(--padding-inline) * 1.8));
//         overflow: auto;
//
//         > ul {
//             gap: var(--menu-section-gap);
//         }
//     }
//
//     .menu ul
//     {
//         flex-direction: column;
//
//         > li, li > ul > li
//         {
//             flex: auto;
//         }
//     }
//
//     .mobile-menu-navigation
//     {
//         display: flex;
//     }
//
//     .main.menu
//     {
//         .mobile-menu-navigation
//         {
//             justify-content: flex-end;
//         }
//
//         &::backdrop
//         {
//             background-color: rgba(0, 0, 0, 0.1);
//             backdrop-filter: blur(2px);
//         }
//     }
//
//     .sub.menu
//     {
//         .mobile-menu-navigation
//         {
//             justify-content: space-between;
//         }
//     }
// }

// Finns förmodligen något smidigare och bättre sätt att göra detta
/* #menu-widget-button
{
    anchor-name: --menu-widget-button;
}

#menu-main
{
    inset: unset;
    position-anchor: --menu-widget-button;
    top: calc(anchor(top) + $WPT);
    right: anchor(left);
}

#menu-movies-type-button
{
    anchor-name: --menu-movies-type-button;
}

#menu-movies-type
{
    position-anchor: --menu-movies-type-button;
}

#menu-movies-rating-button
{
    anchor-name: --menu-movies-rating-button;
}

#menu-movies-rating
{
    position-anchor: --menu-movies-rating-button;
}

#menu-movies-year-button
{
    anchor-name: --menu-movies-year-button;
}

#menu-movies-year
{
    position-anchor: --menu-movies-year-button;
}

#menu-movies-genre-button
{
    anchor-name: --menu-movies-genre-button;
}

#menu-movies-genre
{
    position-anchor: --menu-movies-genre-button;
}

#menu-persons-type-button
{
    anchor-name: --menu-persons-type-button;
}

#menu-persons-type
{
    position-anchor: --menu-persons-type-button;
}

#menu-persons-relations-button
{
    anchor-name: --menu-persons-relations-button;
}

#menu-persons-relations
{
    position-anchor: --menu-persons-relations-button;
} */


// .button {
//     display: inline-block;
//     padding: var(--space-sm) var(--space-md);
//     border-radius: 6px;
//     background: var(--color-primary);
//     color: #fff;
//     border: none;
//     cursor: pointer;
//     //&:hover { background: darken($color-primary, 6%); }
//     &--secondary { background: var(--color-secondary); }
//     &--ghost {
//         background: transparent;
//         color: var(--color-primary);
//         //border: 1px solid rgba($color-primary, 0.12);
//     }
// }
//
