@use 'sass:map';
@use 'sass:list';
@use 'vars' as var;

$mobile: map.get(var.$breakpoints, 'mobile');

$BP: map.get(var.$padding, 'base'); // Base Padding
$BM: map.get(var.$margin, 'base'); // Base Margin
$BPr: map.get(var.$padding, 'relative'); // Relative Base Padding
$BMr: map.get(var.$margin, 'relative'); // Relative Base Margin
$BMn: map.get(var.$negative-margin, 'base'); // Negative Base Margin
$block-padding: map.get(var.$padding, 'block-default');
$block-margin: map.get(var.$margin, 'block-default');
$inline-padding: map.get(var.$padding, 'inline-default');
$inline-margin: map.get(var.$margin, 'inline-default');

@supports (animation-timeline: scroll()) {
    body > .message
    {
        animation: page-message linear;
        animation-timeline: scroll();
        /*opacity: 0;*/
        transform: translateY(100%)
    }
}

@keyframes page-message {
    0% {
        transform: translateY(0%);
    }
    1% {
        transform: translateY(100%);
    }
}
