@use "sass:map";

// Grundinställningar som sedan variablerna i _vars baseras på

$breakpoints: (
    "mobile": 32rem,
);

$width: (
    "main-max": 36em,
);

$padding: (
    "base": 1rem,
    "relative": 1em,
);

$margin: (
    "base": 1rem,
    "relative": 1em,
);

$sticky: (
    "position-top": 0.5rem,
    "icon-size": 2.2rem,
);

$text-decoration: (
    "links": 1px underline solid,
);

$border-export: (
    "width": 2px,
    "width-alt": 1px,
    "style": solid,
    "style-alt": groove,
);

$border: (
    "width": var(--border-width),
    "width-alt": var(--border-width-alt),
    "style": var(--border-style),
    "style-alt": var(--border-style-alt),
);

// Definiera vilka listor med variabler som ska bli CSS-variabler och med vilket prefix
// Exportera inte i onödan, eftersom det kan påverka prestanda
// Övriga är endast interna Sass-variabler och ska bli fasta värden i CSS-koden
// Exporterar lite extra under utvecklingen för att kunna testa hur det ser ut med olika värden på ett enkelt sätt
$export-to-css: (
    (
        "map": $border-export,
        "prefix": "border-"
    ),
);
