@use "sass:map";

$text-decoration: (
    links: 1px underline solid,
);

// $spacing: (
//     xxs: .25rem,
//     xs: .5rem,
//     s: 1rem,
//     m: 1.5rem,
//     l: 2rem,
//     xl: 3rem,
//     xxl: 4rem
// );

$breakpoints: (
    "mobile": 32rem,
);

$margin: (
    "base": 1rem,
);

$padding: (
    "base": 1rem,
    "block-relative": .3em,
);

$border-export: (
    "width": 2px,
    "width-alt": 1px,
    "style": solid,
    "style-alt": groove,
);

$border: (
    "width": var(--border-width),
    "width-alt": var(--border-width-alt),
    "style": var(--border-style),
    "style-alt": var(--border-style-alt),
);

// Definiera vilka listor med variabler som ska bli CSS-variabler och med vilket prefix
// Exportera inte i onödan, eftersom det kan påverka prestanda
// Övriga är endast interna Sass-variabler och ska bli fasta värden i CSS-koden
// Exporterar lite extra under utvecklingen för att kunna testa hur det ser ut med olika värden på ett enkelt sätt
$export-to-css: (
    (
        "map": $border-export,
        "prefix": "border-"
    ),
);
