@use "sass:map";

// Grundinställningar som sedan variablerna i _vars baseras på

$breakpoints: (
    "mobile": 32rem,
);

$width: (
    "main-max": 36em,
);

$height: (
    "button": 2.3rem,
);

$padding: (
    "base": 1rem,
    "relative": 1em,
);

$margin: (
    "base": 1rem,
    "relative": 1em,
);

$text-decoration: (
    "links": 1px underline solid,
);

$border-export: (
    "width": 2px,
    "width-alt": 1px,
    "style": solid,
    "style-alt": groove,
);

$border: (
    "width": var(--border-width),
    "width-alt": var(--border-width-alt),
    "style": var(--border-style),
    "style-alt": var(--border-style-alt),
);

$sticky: (
    "position-top": 0.5rem,
    "position-inline": 1rem,
    "inner-margin": 0.7rem,
    "icon-size": map.get($height, 'button'),
    "icon-gap": 0.3rem,
);

// Grundinställningar för alla typer av dialogliknande popover-element (inklusive menyer)
$popover: (
    // borders
    "border-radius": 1.1rem,
    "border-width": map.get($border, 'width'),
    "border-style": map.get($border, 'style'),
    // columns
    "column-width": 10em,
    "column-gap": 1.1em,
    "section-gap": 0em,
    // mobile
    "mobile-margin": 1.5rem,
    "close-button-width": 3em
);

$dialog: (
);

$menu: (
    // items
    "item-height": 2.6rem,
    "item-gap": 2px,
    "item-border-width": 0,
);

// Definiera vilka listor med variabler som ska bli CSS-variabler och med vilket prefix
// Exportera inte i onödan, eftersom det kan påverka prestanda
// Övriga är endast interna Sass-variabler och ska bli fasta värden i CSS-koden
// Exporterar lite extra under utvecklingen för att kunna testa hur det ser ut med olika värden på ett enkelt sätt
$export-to-css: (
    (
        "map": $border-export,
        "prefix": "border-"
    ),
);
