@use "sass:map";
@use 'vars' as var;

$BM: map.get(var.$margin, 'base'); // Base Margin
$BP: map.get(var.$padding, 'base'); // Base Padding
$block-relative-box-padding: map.get(var.$padding, 'block-relative-box');
$inline-relative-box-padding: map.get(var.$padding, 'inline-relative-box');
$block-relative-phrasing-padding: map.get(var.$padding, 'block-relative-phrasing');
$inline-relative-phrasing-padding: map.get(var.$padding, 'inline-relative-phrasing');
$block-relative-box-margin: map.get(var.$margin, 'block-relative-box');
$inline-relative-phrasing-margin: map.get(var.$margin, 'inline-relative-phrasing');
$border-width: map.get(var.$border, 'width');
$border-style: map.get(var.$border, 'style');
$border-style-alt: map.get(var.$border, 'style-alt');
$pill-shape: map.get(var.$border, 'pill-shape-radius');

label
{
    white-space: nowrap;
}

fieldset
{
    position: relative;

    padding-top: (0.3 * $BP);
    padding-bottom: (1 * $BP);
    padding-inline: (1 * $BP);

    border-radius: (0.4 * $BP);
    border-width: $border-width;

    > legend
    {
        border-radius: $pill-shape;
        padding-inline: $inline-relative-box-padding;
        padding-block: $block-relative-box-padding;
        border-top-width: $border-width;
        border-top-style: $border-style-alt;
    }

    > *:not(legend) + *
    {
        margin-top: .65em;
    }

    ul
    {
        list-style-type: none;
        padding-left: 0;

        > li + li
        {
            margin-top: $block-relative-phrasing-padding;
        }
    }

    // Tempfix för details inuti fieldset, så jag kommer ihåg att jag vill göra något ordentligt med det
    > details,
    > form > details
    {
        position: inherit;
        border-radius: (0.4 * $BP);
        border-width: $border-width;
        border-style: $border-style;
        border-color: var(--color-outline-secondary);
    }
}

button.full-width,
input.full-width
{
    text-align: center;
    width: 100%;
}

button
{
    padding: $inline-relative-phrasing-padding $block-relative-phrasing-padding;
    border-radius: $pill-shape;
    border-width: $border-width;
    border-style: $border-style;
}

.button-list,
.button-list .items
{
    display: flex;
    gap: $inline-relative-phrasing-margin;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.button-list
{
    &:has(.items)
    {
        display: block;
    }

    &.compact
    {
        justify-content: flex-start;
    }

    .hidden
    {
        border-style: dotted;
    }
}

.grid-table
{
    display: grid;
    justify-items: start;
    align-items: center;
    align-content: center;

    &.director
    {
        grid-template-columns: 2.5em 1fr auto;
    }

    &.actor
    {
        grid-template-columns: 2.5em 1fr auto auto;
    }
}

.form-row + .form-row {
    margin-top: $block-relative-box-margin;
}

.form-row
{
    display: flex;
    gap: $inline-relative-phrasing-margin;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Allow the label to grow and shrink */
.form-row label
{
    flex: auto;
    display: flex;
    align-items: center;
    gap: (0.6 * $inline-relative-phrasing-margin);
}

/* But where the input has a [size] attribute, do not use flexible size */
/* As well as checkboxes */
.form-row label:has(input[size]),
.form-row label:has(input[type=checkbox])
{
    flex: initial;
}

/* All inputs expand to fill their label */
.form-row label input,
.form-row label select
{
    width: 100%;
    box-sizing: border-box;
}

/* But inputs with a [size] attribute keep their natural size */
/* As well as checkboxes */
.form-row input[size],
.form-row label input[type=checkbox]
{
    width: auto;
    min-width: 0;
    flex: none;
}

.form-row > select:has(+ input[type=submit])
{
    flex: auto;
}
