@use "sass:map";
@use 'vars' as var;

$mobile: map.get(var.$breakpoints, 'mobile');

$BP: map.get(var.$padding, 'base'); // Base Padding
$BM: map.get(var.$margin, 'base'); // Base Margin
$BMn: map.get(var.$negative-margin, 'base'); // Negative Base Margin
$block-padding: map.get(var.$padding, 'block-default');
$block-margin: map.get(var.$margin, 'block-default');
$inline-padding: map.get(var.$padding, 'inline-default');
$inline-margin: map.get(var.$margin, 'inline-default');

body
{
    padding-bottom: (4 * $BM);
    text-align: right;

    > .message
    {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: $block-padding $inline-padding;

        width: 100dvw;

        z-index: 40;
    }
}

body *
{
    text-align: left;
}

main
{
    max-width: 36em;
    margin: 0 auto;
    padding: 0 $inline-padding;
    min-height: 100vh;

    > * + *
    {
        margin-top: 2em;
    }

    > h1,
    article > h1,
    article > hgroup:first-of-type
    {
        text-align: center;
        position: sticky;
        z-index: 41;
        top: 0;
        padding: .5rem 4rem 0rem;
        margin-left: $BMn;
        margin-right: $BMn;
    }

    button.add
    {
        position: sticky;
        top: 0.5em;
        z-index: 42;
        margin-left: 2rem;
    }

    .counter
    {
        position: absolute;
        top: 0;
        right: 2rem;
        height: 2.2rem;
        display: flex;
        align-items: center;
    }
}

article
{
    > *:not(h1) + *
    {
        margin-top: 1.2em;
    }
}

details
{

    > summary
    {

        > *
        {
            display: inline-block;
        }
    }

    > details
    {
        + details
        {
            margin-top: 1em;
        }

        > * + *
        {
            margin-block: .5em;
        }
    }
}

footer
{
    position: relative;
    width: 100dvw;
    height: 3em;
    margin-left: -10px;
    margin-top: calc(50vh - 0em);
    margin-bottom: calc(50vh - 2em);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;
}

header
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;

    box-shadow: 0 2px 4px #101010;

    nav ul
    {
        margin: 0;
        padding: 1rem 0;
        line-height: .7;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;

        > li
        {
            padding: .5rem;
        }
    }
}

.skip-link
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem;
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;

    &:focus
    {
        translate: 0;
        z-index: 999;
    }
}
