@use "sass:map";
@use 'vars' as var;

$xxs: map.get(var.$spacing, 'xxs');
$xs: map.get(var.$spacing, 'xs');
$s: map.get(var.$spacing, 's');
$m: map.get(var.$spacing, 'm');
$l: map.get(var.$spacing, 'l');
$xl: map.get(var.$spacing, 'xl');
$xxl: map.get(var.$spacing, 'xxl');

$margin-default: map.get(var.$margin, 'default');

body
{
    padding-bottom: $xxl;
    text-align: right;

    > .message
    {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: ($margin-default * 0.5) $margin-default;

        //width: 100vw;
        width: 100dvw;
    }
}

body *
{
    text-align: left;
}

main
{
    max-width: 36em;
    margin: 0 auto;
    padding: 0 var(--margin-default);

    > * + *
    {
        margin-top: 2em;
    }
}

article
{
    > *:not(h1) + *
    {
        margin-top: 1.2em;
    }
}

details
{
    padding-top: $xs;
    padding-bottom: $s;
    padding-inline: $s;

    > summary
    {
        margin-top: -.5rem;
        margin-right: -1rem;
        margin-bottom: .5em;
        margin-left: -1.7em;

        > *
        {
            display: inline-block;
        }
    }

    > details
    {
        + details
        {
            margin-top: 1em;
        }

        > * + *
        {
            margin-block: .5em;
        }
    }
}

footer
{
    position: relative;
    width: 100dvw;
    height: 3em;
    font-size: 40px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;
    margin-top: 5rem;
}

header
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;

    box-shadow: 0 2px 4px #101010;

    nav ul
    {
        list-style-type: none;
        margin: 0;
        padding: 1rem 0;
        line-height: .7;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;

        > li
        {
            padding: .5rem;
        }
    }
}

.skip-link
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem;
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;

    &:focus
    {
        translate: 0;
        z-index: 999;
    }
}
