@use "sass:map";
@use 'vars' as var;

$BP: map.get(var.$padding, 'base'); // Base Padding
$BM: map.get(var.$margin, 'base'); // Base Margin
$BPr: map.get(var.$padding, 'relative'); // Relative Base Padding
$BMr: map.get(var.$margin, 'relative'); // Relative Base Margin
$BMn: map.get(var.$negative-margin, 'base'); // Negative Base Margin
$block-padding: map.get(var.$padding, 'block-default');
$block-margin: map.get(var.$margin, 'block-default');
$inline-padding: map.get(var.$padding, 'inline-default');
$inline-margin: map.get(var.$margin, 'inline-default');
$sticky-top: map.get(var.$sticky, 'position-top');
$main-padding: map.get(var.$main, 'inline-padding');
$fieldset-padding: map.get(var.$fieldset, 'inline-padding');
$fieldset-border: map.get(var.$fieldset, 'border-width');
$details-padding: map.get(var.$fieldset, 'details-inline-padding');
$details-border: map.get(var.$fieldset, 'details-border-width');
$widget-width: map.get(var.$widget-calc-export, 'total-width');
$widget-inner-padding: map.get(var.$widget, 'padding-inner');
$widget-padding-diff: ($widget-width - $main-padding - $widget-inner-padding);
$icon-size: map.get(var.$sticky, 'icon-size');
$icon-gap: map.get(var.$sticky, 'icon-gap');

$icon-margin: ($widget-padding-diff + $icon-gap);
//$fieldset-icon-margin: calc(($icon-margin - $fieldset-padding) - $fieldset-border);
$fieldset-calc: $icon-margin - $fieldset-padding;
$fieldset-icon-margin: calc(#{$fieldset-calc} - #{$fieldset-border});
$details-calc: $fieldset-calc - $details-padding;
$details-icon-margin: calc(#{$details-calc} - #{$details-border} - #{$fieldset-border});

body
{
    padding-bottom: (4 * $BM);
    text-align: right;

    > .message
    {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: $block-padding $inline-padding;

        width: 100dvw;

        z-index: 67;
    }
}

body *
{
    text-align: left;
}

main
{
    max-width: map.get(var.$main, 'max-width');
    margin: 0 auto;
    padding: 0 $main-padding;
    min-height: 100vh;

    > * + *
    {
        margin-top: (2 * $BMr);
    }

    > h1,
    article > h1,
    article > hgroup:first-of-type
    {
        text-align: center;
        position: sticky;
        z-index: 41;
        top: 0;
        padding: (0.5 * $BP) (4 * $BP) 0;
        margin-left: $BMn;
        margin-right: $BMn;
        margin-bottom: $block-margin;
    }

    button.add,
    .counter
    {
        position: sticky;
        z-index: 42;
        text-align: center;
        top: $sticky-top;
        height: $icon-size;
        margin-left: $icon-margin;
    }

    button.add
    {
        width: $icon-size;

        + label
        {
            margin-inline: map.get(var.$margin, 'inline-relative-phrasing');
        }
    }

    :not(.compact) > button.add,
    :not(.compact) > .counter
    {
        margin-block: map.get(var.$margin, 'inline-relative-phrasing');
    }

    button.add.non-sticky
    {
        position: initial;
        z-index: 0;
        margin-left: 0;
    }

    fieldset
    {
        button.add
        {
            margin-left: $fieldset-icon-margin;
        }

        details
        {
            button.add
            {
                margin-left: $details-icon-margin;
            }
        }
    }

    .counter
    {
        float: right;
        box-sizing: border-box;
        width: auto;
        min-width: $icon-size;
        margin-right: $details-icon-margin;
    }
}

article
{
    > *:not(h1) + *
    {
        margin-top: (1.2 * $BMr);
    }
}

details
{

    > summary
    {

        > *
        {
            display: inline-block;
        }
    }

    // > details
    // {
    //     + details
    //     {
    //         margin-top: (1 * $BMr);
    //     }
    //
    //     > * + *
    //     {
    //         margin-block: (.5 * $BMr);
    //     }
    // }
}

footer
{
    position: relative;
    width: auto;
    height: 3em;
    margin-left: auto;
    margin-top: calc(50vh - 0em);
    margin-bottom: calc(50vh - 2em);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;
}

header
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;

    box-shadow: 0 2px 4px #101010;

    nav ul
    {
        margin: 0;
        padding: 1rem 0;
        line-height: .7;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;

        > li
        {
            padding: .5rem;
        }
    }
}

.skip-link
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem;
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;

    &:focus
    {
        translate: 0;
        z-index: 999;
    }
}
