@use 'sass:map';
@use 'vars' as var;

$mobile: map.get(var.$breakpoints, 'mobile');
$menu-margin: map.get(var.$widget, 'padding-outer') + map.get(var.$widget, 'padding-inner') + map.get(var.$widget, 'img-size');

@media (width > $mobile){
    #main-menu-button
    {
        anchor-name: --main-menu-button;
    }

    #main-menu
    {
        inset: unset;
        position-anchor: --main-menu-button;
        top: calc(anchor(top) + map.get(var.$widget, 'padding-top'));
        right: anchor(left);

        width: calc(100vw - (($menu-margin + map.get(var.$html-decoration, 'width')) * 2));
        max-width: map.get(var.$popover, "column-width") * 4;
    }
}
