@use "sass:map";
@use "vars" as var;

$mobile: map.get(var.$breakpoints, "mobile");
$column-width: map.get(var.$popover, "column-width");

// Attribut popover för högre specificitet
.menu[popover]
{
    @media (width > $mobile){
        &::backdrop
        {
            backdrop-filter: none;
        }

        > header
        {
            nav
            {
                display: none;
            }
        }

        .sub.menu
        {
            inset: unset;
            top: anchor(top);
            right: anchor(left);
            position-try-fallbacks: --right-down, --left-up, --right-up, --bottom-down, --bottom-up;
        }
    }

    ul
    {
        display: flex;
        flex-wrap: wrap;

        > li
        {
            flex: $column-width 1 0;
            min-width: 0;

            a,
            button
            {
                display: inline-block;
                width: 100%;
                text-align: left;

            }

            > ul
            {
                padding: 0 3rem; //test

                li
                {
                    flex: calc($column-width - map.get(var.$popover, "content-inline-margin")) 1 0;
                    min-width: 0;
                }
            }
        }

        li
        {
            display: flex;
            flex-direction: column;
        }

    }

    button[popovertarget]::after
    {
      content: " >";
    }

}
