@use "sass:map";
@use "vars" as var;

$mobile: map.get(var.$breakpoints, "mobile");

// Attribut popover för högre specificitet
.menu[popover]
{
    @media (width > $mobile){
        &::backdrop
        {
            backdrop-filter: none;
        }

        > header
        {
            nav
            {
                display: none;
            }
        }

        .sub.menu
        {
            inset: unset;
            top: anchor(top);
            right: anchor(left);
            position-try-fallbacks: --right-down, --left-up, --right-up, --bottom-down, --bottom-up;
        }
    }

    li
    {
        width: 100%;

        a,
        button
        {
            display: inline-block;
            width: 100%;
        }
    }

    button[popovertarget]::after
    {
      content: " >";
    }

}
