@use "sass:map";
@use "vars" as var;

$mobile: map.get(var.$breakpoints, "mobile");

// Attribut popover för högre specificitet
.menu[popover]
{
    > header
    {
        @media (width > $mobile){
            nav
            {
                display: none;
            }
        }
    }

    li
    {
        width: 100%;

        a
        {
            display: inline-block;
            width: 100%;
        }
    }
}
