@use 'sass:map';
@use 'vars' as var;

#page-nav-button
{
    anchor-name: --page-nav-button;
}

#page-nav
{
    inset: unset;
    position-anchor: --page-nav-button;
    top: anchor(bottom);
    left: anchor(left);

    background-color: transparent;
    backdrop-filter: blur(12px);

    border: none;

    li
    {
        display: inline-block;
        width: 100%;

        a
        {
            display: inline-block;
            width: 100%;
        }
    }
}

/* #page-nav
{
    &:has(a:active>button[popovertarget=page-nav])
    {
        display: none;
    }

    a:focus { background: green; }
    a:active { background: red; display: none; }
} */
