@use 'sass:map';
@use 'vars' as var;

#page-nav
{
    &:has(a:active>button[popovertarget=page-nav])
    {
        display: none;
    }

    a:focus { background: green; }
    a:active { background: red; }
}
