$exported-css-vars: ();

// emit map as CSS vars under a selector
@mixin export-css-vars($map, $prefix: "") {
    @each $key, $value in $map {
        $var: --#{$prefix}#{$key}: #{$value};
        // Store the variable name in the global map
        $exported-css-vars: add-to-map($prefix-$key, $var, $exported-css-vars) !global;
        //set-variable('custom-var', $prefix + $key);
        $var;
    }
}

// helper for nested maps (optional)
@mixin export-css-vars-recursive($map, $prefix: "") {
    @each $key, $value in $map {
        @if type-of($value) == 'map' {
            @include export-css-vars-recursive($value, $prefix + $key + "-");
        } @else {
            --#{$prefix}#{$key}: #{$value};
        }
    }
}

@function add-to-map($key, $value, $map) {
    @return map-merge($map, ($key: $value));
}
