@use "sass:map";
@use 'config' as cfg;

$BP: map.get(cfg.$padding, 'base'); // Base Padding
$BM: map.get(cfg.$margin, 'base'); // Base Margin
$BPr: map.get(cfg.$padding, 'relative'); // Base Padding relative
$BMr: map.get(cfg.$margin, 'relative'); // Base Margin relative

// Vill sträva mot att alla värden finns i denna (och config), utom vissa enstaka som bara används en enda gång

$breakpoints: (
    "mobile": map.get(cfg.$breakpoints, 'mobile'),
);

$padding: (
    "base": $BP,
    "relative": $BPr,
    "block-default": (0.75 * $BP),
    "inline-default": (1.2 * $BP),
    "block-relative-box": (0.3 * $BPr),
    "inline-relative-box": (1 * $BPr),
    "block-relative-phrasing": (0.6 * $BPr),
    "inline-relative-phrasing": (0.15 * $BPr),
);

$margin: (
    "base": $BM,
    "relative": $BMr,
    "block-default": (0.75 * $BM),
    "inline-default": (1.5 * $BM),
    "block-relative-box": (0.5 * $BMr),
    "inline-relative-box": (1 * $BMr),
    "block-relative-phrasing": (1 * $BMr),
    "inline-relative-phrasing": (0.5 * $BMr),
);

$negative-margin: (
    "base": -(map.get($margin, 'base')),
);

$sticky: (
    "position-top": map.get(cfg.$sticky, 'position-top'),
    "position-inline": map.get(cfg.$sticky, 'position-inline'),
    "inner-margin": map.get(cfg.$sticky, 'inner-margin'),
    "icon-size": map.get(cfg.$sticky, 'icon-size'),
    "icon-gap": map.get(cfg.$sticky, 'icon-gap'),
);

$text-decoration: (
    "links": map.get(cfg.$text-decoration, 'links'),
);

$border: (
    "width": map.get(cfg.$border, 'width'),
    "width-alt": map.get(cfg.$border, 'width-alt'),
    "style": map.get(cfg.$border, 'style'),
    "style-alt": map.get(cfg.$border, 'style-alt'),
    "pill-shape-radius": 10em,
);

$main: (
    "max-width": map.get(cfg.$width, 'main-max'),
    "inline-padding": map.get($padding, 'inline-default'),
);

$fieldset: (
    "inline-padding": (1 * $BP),
    "bottom-padding": (1 * $BP),
    "top-padding": (0.3 * $BP),
    "border-width": map.get($border, 'width'),
    "details-inline-padding": 0,
    "details-border-width": map.get($border, 'width-alt'),
);

$widget: (
    "padding-top": map.get($sticky, 'position-top'),
    "padding-bottom": (1 * $BP),
    "padding-outer": map.get($sticky, 'position-inline'),
    "padding-inner": map.get($sticky, 'inner-margin'),
    "border-radius-top-inner": 0,
    "border-radius-top-outer": (0.5 * $BP),
    "border-radius-bottom-inner": (1.3 * $BP),
    "border-radius-bottom-outer": (1.3 * $BP),
    "img-size": map.get($sticky, 'icon-size'),
);

$popover: (
    // borders
    "border-radius": map.get(cfg.$popover, 'border-radius'),
    "border-width": map.get(cfg.$popover, 'border-width'),
    "border-style": map.get(cfg.$popover, 'border-style'),
    // columns
    "column-width": map.get(cfg.$popover, 'column-width'),
    "column-gap": map.get(cfg.$popover, 'column-gap'),
    "section-gap": map.get(cfg.$popover, 'section-gap'),
    // mobile
    "mobile-margin": map.get($widget, 'padding-outer'),
    "close-button-width": map.get(cfg.$popover, 'close-button-width')
);

$WPT: map.get($widget, 'padding-top');
$WPB: map.get($widget, 'padding-bottom');
$WPO: map.get($widget, 'padding-outer');
$WPI: map.get($widget, 'padding-inner');
$WBRTI: map.get($widget, 'border-radius-top-inner');
$WBRTO: map.get($widget, 'border-radius-top-outer');
$WBRBI: map.get($widget, 'border-radius-bottom-inner');
$WBRBO: map.get($widget, 'border-radius-bottom-outer');
$WIZ: map.get($widget, 'img-size');

$widget-calc-export: (
    total-width: $WIZ + $WPO + $WPI,
);

$widget-calc: (
    total-width: var(--widget-calc-total-width),
);

// Definiera vilka listor med variabler som ska bli CSS-variabler och med vilket prefix
// Exportera inte i onödan, eftersom det kan påverka prestanda
// Övriga är endast interna Sass-variabler och ska bli fasta värden i CSS-koden
// Exporterar lite extra under utvecklingen för att kunna testa hur det ser ut med olika värden på ett enkelt sätt
$export-to-css: (
    (
        "map": $widget-calc-export,
        "prefix": "widget-calc-"
    ),
);
