@use "sass:map";
@use 'config' as cfg;

// Vill sträva mot att alla värden finns i denna och config, utom vissa enstaka som bara används en enda gång
// Det bör också gå att göra mer automatiserat, men vi gör så här så länge

$fonts: (
    base-size: map.get(cfg.$fonts, 'base-size'),
    body-text-family: map.get(cfg.$fonts, 'body-text-family'),
    heading-family: map.get(cfg.$fonts, 'heading-family')
);

$breakpoints: (
    "mobile": map.get(cfg.$breakpoints, 'mobile')
);

$spacing: (
    "xxs": map.get(cfg.$spacing, 'xxs'),
    "xs": map.get(cfg.$spacing, 'xs'),
    "s": map.get(cfg.$spacing, 's'),
    "m": map.get(cfg.$spacing, 'm'),
    "l": map.get(cfg.$spacing, 'l'),
    "xl": map.get(cfg.$spacing, 'xl'),
    "xxl": map.get(cfg.$spacing, 'xxl')
);

$margin: (
    "default": map.get(cfg.$margin, 'default')
);

$negative-margin: (
    "default": -(map.get($margin, 'default'))
);

$padding: (
    "default": map.get(cfg.$padding, 'default')
);

$border: (
    "width": map.get(cfg.$border, 'width'),
    "style": map.get(cfg.$border, 'style'),
    "width-alt": map.get(cfg.$border, 'width-alt'),
    "style-alt": map.get(cfg.$border, 'style-alt')
);
