<form class="filter" method="GET" action="{{ this_page }}">
{% block content %}
{% endblock %}

{% block actions %}
        <ul class="actions">
            <li><a href="{{ this_page }}" class="form-reset">Rensa filter</a></li>
            <li><button type="submit">Visa lista</button></li>
        </ul>
{% endblock %}
</form>
