<form class="filter" method="GET" action="{{ this_page }}">
{% block content %}
{% endblock %}

{% block actions %}
        <div class="actions">
            <a href="{{ this_page }}" class="form-reset">Rensa filter</a>
            <button type="submit">Visa lista</button>
        </div>
{% endblock %}
</form>
