{% extends "admin/forms/add-base.html.twig" %}

{% block content %}

{% if item == null %}
        <pre>ERROR item is null</pre>
{% else %}

<form method="POST" action="/admin/movies/genres/add">
    <input type="hidden" name="redirect_url" value="{{ this_page }}">
    <input type="hidden" name="movie_id" value="{{ item.id }}">
    <fieldset>
        <legend>Lägg till genre</legend>
            <div class="form-row">
                <label for="add-movie_genre">ID</label>
                <input type="text" id="add-movie_genre" name="genre_id" required>
            </div>
            <ul class="actions">
                <li><button type="submit">Lägg till</button></li>
            </ul>
    </fieldset>
</form>

{% endif %}

{% endblock %}
