{% if item == null %}
        <pre>ERROR item is null</pre>
{% elseif pop_id == null %}
        <pre>ERROR pop_id is null</pre>
{% else %}
        <dialog id="{{ pop_id }}" popover class="pseudo-modal">
            <header>
                {% if pop_title != null %}<h2>{{ pop_title }}</h2>{% endif %}
                <nav>
                    <button popovertarget="{{ pop_id }}" popovertargetaction="hide">×</button>
                </nav>
            </header>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <footer>
            </footer>
        </dialog>
{% endif %}
