{% extends "admin/filters/base.html.twig" %}

{% block content %}
        <div class="form-row">
            <label for="search">Sök
                <input type="search" id="search" name="search" {% if params.search %}value="{{ params.search }}"{% endif %}>
            </label>
            <label for="filter-category">Kategori
                <select id="filter-category" name="category">
                    <option value="all" {% if params.category == 'all' %}selected{% endif %}>Alla</option>
                {% for value, label in categories %}
                    <option value="{{ value }}" {% if params.category == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
                </select>
            </label>
        </div>
{% endblock %}
