{# Sidhuvud #}
    <header id="header">
        <nav><ul>
            <li><a href="/admin">Administration</a></li>
            <li><a href="{{ constant('API').PUBLIC_SITE_URL }}" target="_blank">Preview</a></li>
        </ul></nav>
    </header>
{# Navigeringsmojäng #}
    <div class="widget left" id="page-nav-widget"><button popovertarget="page-nav" class="button" id="page-nav-button" title="Navigering"><img class="circle" alt="Navigering" src="https://svenusling.se/assets/chapters.jpg"></button></div>{% include "admin/navigation/page-nav.html.twig" %}
{# Menymojäng #}
    <label for="main-menu-button" class="widget-label" id="menu-widget-label">Meny</label><div class="widget right" id="menu-widget"><button popovertarget="main-menu" class="button" id="main-menu-button" title="Meny"><img class="circle" alt="Meny" src="https://svenusling.se/assets/logo.jpg"></button></div>{% include "admin/navigation/main-menu.twig" %}
