{% extends "admin/base.html.twig" %}

{% set categories = constant('OPT').CREW_CATEGORIES %}

{% block mainContent %}
{% if item == null %}
        <pre>ERROR item is null</pre>
{% else %}

{% set types = null %}
{% set type_cat = null %}
{% set type_lists = constant('OPT').MOVIE_TYPES %}
{% for type_category, type_items in type_lists %}
    {% if type_items[item.type] is defined %}
        {% set types = type_items %}
        {% set type_cat = type_category %}
    {% endif %}
{% endfor %}

{% set this_page = '/admin/movies/' ~ item.id %}

    <article>
        <h1>{{ item.title }}</h1>

{% include "admin/details/movie-core.html.twig" %}

{% include "admin/details/movie-genres.html.twig" %}

{% include "admin/details/movie-crew.html.twig" %}

{% block series %}{% endblock %}

    </article>

{% endif %}
{% endblock %}
