        {% set dlg_id = 'edit-form-' ~ item.id %}
        <dialog id="{{ dlg_id }}" popover class="pseudo-modal">
            <div class="dialog-top">
                <button popovertarget="{{ dlg_id }}" popovertargetaction="hide">×</button>
            </div>
            <div class="dialog-content">
{% block content %}{% endblock %}
            </div>
        </dialog>
