{% extends "admin/details/base.html.twig" %}

{% set legend = 'Avsnitt' %}

{% block content %}

{% set pop_id = "add-series-sub-dlg" %}
<div class="actions">
    <button class="add" id="add-to-season-button" popovertarget="{{ pop_id }}">+</button>
</div>
{% include "admin/forms/new-episode.html.twig" %}

<ol class="episodes">
    {% for episode in item.episodes %}
    <li>{{ episode.sorting_title }}</li>
    {% endfor %}
</ol>

{% endblock %}
