{% extends "admin/details/base.html.twig" %}

{% set legend = 'Avsnitt' %}
{% if item.type == 'series' %}{% set legend = 'Säsonger och avsnitt' %}{% endif %}

{% block content %}

<ol class="seasons">
    {% for season in item.seasons %}
    <li>{{ season.sorting_title }}</li>
    {% endfor %}
</ol>

{% include "admin/forms/add-genre.html.twig" %}

{% endblock %}
