{% extends "admin/details/base.html.twig" %}

{% set legend = 'Avsnitt' %}
{% if item.type == 'series' %}{% set legend = 'Säsonger och avsnitt' %}{% endif %}

{% block content %}

{% set pop_id = "add-series-sub-dlg" %}
<div class="actions">
    <button id="add-genres-button" popovertarget="{{ pop_id }}">+</button>
</div>

{% if item.type == 'series' %}{% include "admin/forms/new-season.html.twig" %}{% endif %}
{% if item.type != 'series' %}{% include "admin/forms/new-episode.html.twig" %}{% endif %}

{% endblock %}
